<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            display: flex;
            justify-content: space-evenly;
        }
        ul{
            border: 1px solid black;
            padding:20px;
        }

    </style>
</head>
<body>
    <div class='main'> 
        <div>
            <h1>New Author</h1>
            <form action='/authors/new', method='POST'>
                <label for='name'>Name:</label>
                <input type='text' name='name'><br><br>
                <input type="submit" value='create'>
            </form>
        </div>
        <div>
            <h1>All Authors</h1>
            <ul>
                {% for author in authors %}
                <li><a href='/authors/{{author.id}}'> {{author.name}} </a></li>
                {% endfor %}
            </ul>
            <br><br>
            <a href='/books'>Add Book</a>
        </div>
    </div>    
</body>
</html>