<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Title: {{data["title"]}}</h1>  
            <h4>Favorited by:</h4>
            <ul>
            {% for author in data["booksFavoritedByAuthors"] %}    
                <li>{{author.name}}</li>
            {% endfor %}    
            </ul>
        </div>
        <div>
            <h1>Add Book's Favorite</h1>
            <label for='text'>Author:</label>
            <form action='/books/{{data["id"]}}/favorite/new' method='POST'>
                <select name='author_id'>
                    {% for author in data["authors"] %}
                    <option value='{{author.id}}'>{{author.name}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type='submit' value='Add'> 
            </form>
            <a href='/authors'>Home</a>
        </div>
    </div>
</body>
</html>